<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {# {% block css %} #}
        {#<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    {# {% endblock %} #}
</head>
<body>
    {% block content %}{% endblock %}
    {% comment %} {% block js %} {% endcomment %}
        {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
    {% comment %} {% endblock %} {% endcomment %}
</body>
</html>
